header{
    width: 980px;
    height: 140px;
    color: white;
    background-color: greenyellow;
    margin-bottom: 15px;
    text-align: center;
}
p{
    margin: 0px;
}
h1{
    margin: 0px;
}
div{
    display: inline-block;
    margin-right: 15px;
    text-align: center;
}
#content{
    width: 690px;
    height: 450px;
    color: white;
    background-color: greenyellow;
}
#sidebar{
    width: 270px;
    height: 450px;
    color: white;
    background-color: greenyellow;
}
footer{
    width: 980px;
    height: 70px;
    color: white;
    background-color: greenyellow;
    margin-top: 15px;
    text-align: center;
}